<div class="reset-password-form">

  <label for="password">
    新密碼
  </label>

  <input
    type="password"
    id="password"
    name="password"
    [(ngModel)]="newPassword"
    placeholder="請輸入新密碼"
  >

  <label for="confirmPassword">
    確認新密碼
  </label>

  <input
    type="password"
    id="confirmPassword"
    name="confirmPassword"
    [(ngModel)]="confirmPassword"
    placeholder="請再次輸入新密碼"
  >

  <button
    type="button"
    (click)="resetPassword()"
  >
    重設密碼
  </button>

  @if (message) {
    <div class="message">
      {{ message }}
    </div>
  }

  @if (errorMessage) {
    <div class="error-message">
      {{ errorMessage }}
    </div>
  }

</div>