.layout {

  min-height: 100vh;

  display: flex;

  flex-direction: column;

}


.frontend-content {
    padding-top: 70px;
    background: #f7f6f1;
    min-height: 100vh;
    box-sizing: border-box;
}