.forgot-password-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px 50px;
    box-sizing: border-box;
}

.forgot-password-form {
    width: 100%;
    max-width: 400px;
    background: #fff;
    padding: 40px 35px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.forgot-password-form h2 {
    margin-bottom: 20px;
    color: #404040;
    font-size: 30px;
}

.forgot-password-form p {
    color: #666;
    margin-bottom: 25px;
    line-height: 1.6;
}

.input-group {
    text-align: left;
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-weight: 500;
}

.input-group input {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #D9DED8;
    border-radius: 10px;
    font-size: 16px;
    box-sizing: border-box;
    transition: all 0.3s;
}

.input-group input:focus {
    border-color: #D9DED8;
    outline: none;
    box-shadow: 0 0 8px #daf3df;
}

.forgot-password-form button {
    width: 100%;
    padding: 14px;
    background: #78907A;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.forgot-password-form button:hover {
    background: #6B8F71;
    transform: translateY(-2px);
}

.back-login {
    margin-top: 20px;
    color: #666;
}

.back-login a {
    color: #9FB8A3;
    text-decoration: none;
    font-weight: bold;
}

.back-login a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .forgot-password-form {
        padding: 30px 25px;
    }

    .forgot-password-form h2 {
        font-size: 26px;
    }
}
