<section class="articles-page">

  <!-- 頁面標題 -->
  <div class="page-header">

    <div>
      <h1>文章管理</h1>
      <p>管理美妝部落格文章內容</p>
    </div>

    <button
      class="add-btn"
      routerLink="/admin/articles/add">
      ＋ 新增文章
    </button>

  </div>


  <!-- 搜尋與篩選 -->
  <div class="filter-card">

    <!-- 搜尋 -->
    <div class="search-box">

      <label for="search">
        搜尋文章
      </label>

      <input
        id="search"
        type="text"
        placeholder="請輸入文章標題..."
        [value]="searchKeyword()"
        (input)="onSearch($event)"
      >

    </div>


    <!-- 分類 -->
    <div class="category-box">

      <label for="category">
        文章分類
      </label>

      <select
        id="category"
        [value]="selectedCategory()"
        (change)="onCategoryChange($event)"
      >

        <option value="">
          全部分類
        </option>

        <option value="trend">
          趨勢話題
        </option>

        <option value="share">
          美麗分享
        </option>

      </select>

    </div>

  </div>


  <!-- 文章列表 -->
  <div class="article-card">

    <div class="table-header">
      <h2>文章列表</h2>

      <span class="article-count">
        共 {{ articles().length }} 篇文章
      </span>
    </div>


    <div class="table-wrapper">

      <table>

        <thead>
          <tr>
            <th>圖片</th>
            <th>文章標題</th>
            <th>分類</th>
            <th>發布日期</th>
            <th>操作</th>
          </tr>
        </thead>


        <tbody>

          @for (article of filteredArticles(); track article.id) {

            <tr>

              <!-- 圖片 -->
              <td>

                <div class="article-image">

                  <img [src]="environment.imageUrl + '/uploads/' + article.image" [alt]="article.title">

                </div>

              </td>


              <!-- 標題與描述 -->
              <td>

                <div class="article-info">

                  <strong>
                    {{ article.title }}
                  </strong>

                  <span>
                    {{ article.description }}
                  </span>

                </div>

              </td>


              <!-- 分類 -->
              <td>

                <span class="category">

                  @if (article.category === 'trend') {
                    保養趨勢
                  }
                  @if (article.category === 'share') {
                    美麗分享
                  }

                </span>

              </td>


              <!-- 日期 -->
              <td>
                {{ article.date | date:'yyyy.MM.dd' }}
              </td>


              <!-- 操作 -->
              <td>

                <div class="actions">

                  <button class="edit-btn"type="button" [routerLink]="['/admin/articles/edit', article.id]">
                    編輯
                  </button>

                  <button class="delete-btn" type="button" (click)="deleteArticle(article.id)">
                    刪除
                  </button>

                </div>

              </td>

            </tr>

          }
          @empty {

            <tr>

              <td colspan="5">

                <div class="empty">
                  目前沒有文章
                </div>

              </td>

            </tr>

          }

        </tbody>

      </table>

    </div>

  </div>

</section>