.products{

    max-width:1200px;

    margin:auto;

    padding:80px 20px;

}

.products h1{

    text-align:center;

    font-size:42px;

}

.subtitle{

    text-align:center;

    color:#777;

    margin-bottom:60px;

}

.product-grid{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:30px;

}

.card{

    background:white;

    border-radius:15px;

    overflow:hidden;

    box-shadow:0 5px 15px rgba(0,0,0,.08);

    transition:.3s;

}

.card:hover{

    transform:translateY(-10px);

}

.card img{

    width:100%;

    height:300px;

    object-fit:cover;

}

.card h3{

    padding:15px;

    margin:0;

    color: #404040;

}

.card span{

    display:block;

    padding:0 15px;

    color:#589c63;

    font-size:22px;

    font-weight:bold;

}

.card button{

    width:calc(100% - 30px);

    margin:20px 15px;

    height:45px;

    border:none;

    background:#78907A;

    color:white;

    border-radius:8px;

    cursor:pointer;

}

.card button:hover{

    background:#6B8F71;

}
.category{

    display:flex;

    justify-content:center;

    gap:15px;

    margin-bottom:50px;

    flex-wrap:wrap;

}

.category button{

    padding:10px 25px;

    border:none;

    border-radius:30px;

    background:#eee;

    cursor:pointer;

    font-size:16px;

    transition:.3s;

}

.category button:hover{

    background:#6B8F71;

    color:white;

}

.category button.active{

    background:#78907A;

    color:white;

}
.pagination{

    display:flex;

    justify-content:center;

    gap:10px;

    margin-top:50px;

}



.pagination button{

    width:40px;

    height:40px;

    border:none;

    border-radius:10px;

    background:#eee;

    cursor:pointer;

    font-size:16px;

}



.pagination button:hover{

    background:#6B8F71;

    color:white;

}



.pagination button.active{

    background:#78907A;

    color:white;

}
@media (max-width:992px){

    .product-grid{

        grid-template-columns:repeat(2,1fr);

    }

}

@media (max-width:768px){

    .product-grid{

        grid-template-columns:1fr;

    }

}