<div class="admin-news">

  <h2>
    {{ isEditing() ? '修改新聞' : '新增新聞' }}
  </h2>

  <form (ngSubmit)="saveNews()">

    <div>
      <label for="date">日期</label>

      <input
        id="date"
        type="date"
        name="date"
        [ngModel]="newsDate()"
        (ngModelChange)="newsDate.set($event)"
        required
      >
    </div>


    <div>
      <label for="title">標題</label>

      <input
        id="title"
        type="text"
        name="title"
        [ngModel]="newsTitle()"
        (ngModelChange)="newsTitle.set($event)"
        placeholder="請輸入新聞標題"
        required
      >
    </div>


    <button type="submit">
      {{ isEditing() ? '儲存修改' : '新增新聞' }}
    </button>


    @if (isEditing()) {

      <button
        type="button"
        (click)="resetForm()"
      >
        取消修改
      </button>

    }

  </form>


  <hr>


  <h2>新聞列表</h2>


  <table>

    <thead>
      <tr>
        <th>ID</th>
        <th>日期</th>
        <th>標題</th>
        <th>操作</th>
      </tr>
    </thead>


    <tbody>

      @for (news of newsList(); track news.id) {

        <tr>

          <td>
            {{ news.id }}
          </td>

          <td>
            {{ news.date }}
          </td>

          <td>
            {{ news.title }}
          </td>

          <td>

            <button
              type="button"
              (click)="editNews(news)"
            >
              編輯
            </button>

            <button
              type="button"
              (click)="deleteNews(news.id)"
            >
              刪除
            </button>

          </td>

        </tr>

      }

    </tbody>

  </table>

</div>